/* Host viewport */
:host {
    --bg-conversation-menu: #cde;
    --fg-conversation-menu: #000;
    --bg-conversation-area: #fff;
    --fg-conversation-area: #000;
    display: block;
    height: 100vh;
}

/* Flex Container */
:host > div {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Conversation menu */
:host > div > div:nth-child(1) {
    flex: 1;
    background-color: var(--bg-conversation-menu);
    color: var(--fg-conversation-menu);
}

:host > div > div:nth-child(1) > input[name=collapse] {
    display: none;
}

/* Conversation area */
:host > div > div:nth-child(2) {
    flex: 7;
    background-color: var(--bg-conversation-area);
    color: var(--fg-conversation-area);
    overflow-y: scroll;
    word-wrap: wrap;
}

:host > div.modal {
    display: block;
    position: fixed;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 20%;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: 5px 6px 10px;
}

:host > div.modal > button:first-child {
    position: absolute;
    right: 0.5rem;
    top: 0.25rem;
    font-size: 1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: transparent;
    font-weight: 700;
    color:black;
    border: none;
    transition: color 0.3s ease-in-out;
}

:host > div.modal > button:first-child:hover {
    color: #0cf !important;
}

:host > div.modal > select {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 700;
    position: relative;
    top: 2rem;
}

.hidden {
    display: none !important;
}
